<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <title>Apextek Labs | Engineering Design Firm</title>

<style>
.jumbotron{
    /*background-color:#2E2D88;*/
    color:white;
    height: 60px !important;
    padding: 20px !important;
    margin: 20px 0 !important;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1px;
}
.nav-tabs {
    margin-bottom: 0;
}

.footer {
  position: absolute;
 
   padding: 1rem;
   bottom: 0;
  background-color: #efefef;
  text-align: right;
  width: 70%;
  margin:20px 0 !important;
  border-radius: 6px;
}

.footer p{
  font-size: 17px;
  color: #fff;

}
.header-name{
  font-family:fantasy;
  font-size: 30px !important;
  margin: 0 20px !important;
  padding: 0 !important;
  
}

.button-container{
  width: 100%;
  margin: 0 30px !important;
}
a{
  padding: 0 15px !important;
  margin: 0 10px !important;
}

</style>

</head>

<body>
<div class="container">
  <div class="jumbotron blue darken-3">
<h1 class="header-name">ApexTek Labs</h1>
</div>
<form action="/addUser" method="POST" enctype="multipart/form-data">
  
  <div class="form-group">
  <input type="text" placeholder="username" name="name" class="form-control">
  </div>
  <br>
  <div class="form-group">
  <input type="text" placeholder="speciality" name="speciality" class="form-control">
  </div>
  <br>
  <div class="form-group">
  <input type="text" placeholder="address" name="address" class="form-control">
  </div>
  <br>
  <div class="form-group">
  <p style="font-family:sans-serif;"><b>Choose profile picture</b></p>
  <input type="file" name="Image" accept="image/*" class="form-control"/>
  <br>
  <div class="form-group">	
  <button type="submit" class="btn btn-primary blue darken-3">Add</button>
  <a href="/"><button type="button" class="btn btn-primary blue darken-3" >Cancel</button></a>
  </div>

</form>

</div>
<div class="footer blue darken-3" style="font-family: cursive;">
<p>
  <b>“You miss 100% of the shots you don’t take.”  <br>- Wayne Gretzky</b>
</p>
</div>
</body>
</html>